# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.example

# Flask / logs
instance/
*.log

# Database (if using sqlite locally)
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Render / deployment
build/
dist/